body{
    margin: 0px;
}
/* Top Navbar */
.topNavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0D12;
}

li {
    float: left;
}

li a {
    display: block;
    color: #848588;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #FFFFFF;
}

.logo {
    height: 45px;
}

.accountItems {
    float:right;
}
/* Top Navbar */

/* Bottom Navbar */
.bottomNavbar {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.background {
    background-image: url("./assets/Background.jpg");
    height: 800px;
    width: 100vw;
    background-repeat: no-repeat;
    position: absolute;
}
.leagueLogo {
    height: 60px;
}
/* Bottom Navbar */